<div class="container">
    <p class="flow-text">To contact us regarding anything related to Paying Guest House services, you can give us a call on <a href="tel:+919643136834">9643136834</a>.</p>
    <div class="row">
        <h4 class="center">Contact Form</h4>
        <form class="col s12" action="/contact" method="POST">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix" type="text" class="validate" name="name">
                    <label for="icon_prefix">First Name</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">phone</i>
                    <input id="icon_telephone" type="tel" class="validate" name="telephone">
                    <label for="icon_telephone">Telephone</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input id="email" type="email" class="validate" name="email">
                    <label for="email" data-error="wrong" data-success="right">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="textarea1" class="materialize-textarea" name="message"></textarea>
                    <label for="textarea1">Textarea</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="btn btn-float right" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>