<!-- Footer comes here -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Aunty Homes Girls PG</h5>
                <p class="grey-text text-lighten-4">Aunty Homes Girls PG is situated near Kaushambi Metro Station. The paying guest house for girls which focuses
                    on top notch services.</p>
                <p class="grey-text text-lighten-4">Contact Number:
                    <a href="tel:+919643136834">9643136834</a>
                </p>
                <p class="grey-text text-lighten-4">Address:
                    <a>D-42, Kaushambi, Ghaziabad</a>
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Home</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">About</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Contact Us</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Aunty Homes Girls PG
            <a class="grey-text text-lighten-4 right" href="https://github.com/reeversedev" target="_blank">With
                <i class="tiny material-icons">favorite_border</i> by
                <span class="username">@reeversedev</span>
            </a>
        </div>
    </div>
</footer>