<nav>
  <div class="nav-wrapper">
    {{!--
    <a href="/" class="brand-logo">
      <i class="fa fa-home"></i>
    </a> --}}
    <a href="/" class="brand-logo center">Aunty Homes</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a href="/">
          <i class="fa fa-home"></i> Home</a>
      </li>
      <li>
        <a href="/about">
          <i class="fa fa-info-circle"></i> Why Aunty Homes</a>
      </li>
      <li>
        <a href="/contact">
          <i class="fa fa-phone-square"></i> Contact</a>
      </li>
      <li>
        <a href="/blog">
          <i class="fa fa-pencil-square"></i> Blog</a>
      </li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li class="center">
        <a href="/">
          <i class="fa fa-home"></i>Home</a>
      </li>
      <li class="center">
        <a href="/about">
          <i class="fa fa-info-circle"></i> Why Aunty Homes</a>
      </li>
      <li class="center">
        <a href="/contact">
          <i class="fa fa-phone-square"></i>Contact</a>
      </li>
      <li class="center">
        <a href="/blog">
          <i class="fa fa-pencil-square"></i>Blog</a>
      </li>
    </ul>
  </div>
</nav>