{{!--
<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/250/250/nature/1"></a>
    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/250/250/nature/2"></a>
    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/250/250/nature/3"></a>
    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></a>
    <a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>
</div> --}}
<div class="container">
    <div class="center">
        <h3>Looking for a Girls PG in Kaushambi?</h3>
        <img src="images/aunty-homes-girls-pg.jpg" alt="best_paying_Guest_House">
        <p class="flow-text">"My work location is in Ghaziabad or should I just say near Kaushambi or Vaishali or Noida 60's. But I am unable
            to find a decent living place that can provide me with urban facilities in my budget. Oh God! Where am I going
            to find such place near my work location?" - A Female</p>
    </div>
    <hr>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col l6">
            <h3>Near by Metro Station</h3>
            <p class="flow-text">Aunty Homes Girls PG is very suitable with travel and transit. We are situated near to <a>Kaushambi Metro station</a>.
                Yes, just a 5 minutes walk away.
            </p>
        </div>
        <!-- Map -->
        <div class="col l6 s12">
            <div id="map"></div>
        </div>
    </div>
</div>

<!-- Facilities -->
<div class="container-fluid" id="facilities">
    <div class="col l6 s12 hide-on-large-only">
        <div class="container">
            <h3 class="facilities">Facilities</h3>
            <p class="flow-text">Rooms are available with AC/Cooler depending on the requirement. At Aunty Homes Girls PG, is providing every
                basic requirement and improve on doing it so that you can have a feeling of home away from home.
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col l6 s12 center" id="icons">
            <div class="col l4 s6 facility-icon">
                <i class="large material-icons blue-icon">wifi</i>
                <span class="col l12 s12 blue-icon">High Speed Internet</span>
            </div>
            <div class="col l4 s6 facility-icon">
                <i class="large material-icons blue-icon">live_tv</i>
                <span class="col l12 s12 blue-icon">Television</span>
            </div>
            <div class="col l4 s6 facility-icon">
                <i class="large material-icons blue-icon">local_laundry_service</i>
                <span class="col l12 s12 blue-icon">Washing Machine</span>
            </div>
            <div class="col l4 s6 facility-icon">
                <i class="large material-icons blue-icon">local_parking</i>
                <span class="col l12 s12 blue-icon">Ample Parking Space</span>
            </div>
            <div class="col l4 s6 facility-icon">
                <i class="large material-icons blue-icon">flash_on</i>
                <span class="col l12 s12 blue-icon">Power Backup</span>
            </div>
            <div class="col l4 s6 facility-icon">
                <i class="large material-icons blue-icon">restaurant</i>
                <span class="col l12 s12 blue-icon">Hygienic Food</span>
            </div>
        </div>
        <div class="col l6 s12 hide-on-med-and-down">
            <h3 class="center">Facilities</h3>
            <p class="flow-text">Rooms are available with AC/Cooler depending on the requirement. At Aunty Homes Girls PG, is providing every
                basic requirement and improve on doing it so that you can have a feeling of home away from home.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <h3 class="center">See what our customers say..</h3>
    <div class="row">
        <div class="col l4 m4">
            <div class="row">
                <div class="col l12">
                    <div class="card">
                        <div class="card-image">
                            <img src="images/girls-pg-1.jpg" alt="Girls_PG_in_Kaushambi_and_Delhi"> </div>
                        <div class="card-content">
                            <p>The best about this pg is the homely atmosphere and the home cooked food that all the students
                                crave about. The owner is very friendly and caring. Moreover, it is very close to metro station.
                            </p>
                        </div>
                        <div class="card-action">
                            <a>-- Student</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col l4 m4">
            <div class="row">
                <div class="col l12">
                    <div class="card">
                        <div class="card-image">
                            <img src="images/girls-pg-3.jpg" alt="Girls_Paying_Guest_House_in_Kaushambi">
                        </div>
                        <div class="card-content">
                            <p>It's really close to metro and hygienic. The owner is kind and helpful. Moreover delicious home
                                cooked food is served. The pg is suitable for students as well as working professionals.
                            </p>
                        </div>
                        <div class="card-action">
                            <a class="center">-- Software Engineer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l4 m4">
            <div class="row">
                <div class="col l12">
                    <div class="card">
                        <div class="card-image">
                            <img src="images/girls-pg-2.jpg" alt="Girls_PG_near_Ansal_Plaza">
                        </div>
                        <div class="card-content">
                            <p>Based on a pleasant locality and easy to commute. Also the PG has a specious rooms and a kind
                                hearted owners. It's very safe, and a hygiene place to live with a friendly atmosphere.
                            </p>
                        </div>
                        <div class="card-action">
                            <a>-- HR Professional</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>